*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    /* padding: 30px 650px; */
    font-size: large;
}

header{
    position: fixed;
    top: 0;
    /* background-color: aqua; */
    background: rgb(180,58,161);
    background: linear-gradient(90deg, rgba(180,58,161,1) 6%, rgba(29,169,253,1) 50%, rgba(180,58,161,1) 94%);
    text-align: center;
    width: 100vw;
    height: 10vh;
    /* overflow: hidden; */
    

}

.header p{
    text-align: center;
}

.aboutme{
    text-align: center;
    float: right;
    padding: 260px;
    position: relative;
    height: 350px;
    font-family: Book Antiqua;
}
.aboutme p{
    margin-right: 50vw;
    position: relative;
    top: 75px;
    font
}
.aboutme img{
    float: right;
    position: relative;
    top: -135px;
    left: 659px;
}

#ankit{
    position: relative;
    top:-330px;
    /* padding: 10px; */

}

.header+ .aboutme{
    padding: 120px;
}


.table{
    position: relative;
    border-color: chocolate;
    border-collapse:collapse;
    width: 25%;
    border: 5px dashed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.education{
    position: relative;
    top: 330px;
    text-align: center;
    
}

.navbar{
    margin:0px -199px;
    padding: 0px 0px;
    z-index: 9;
    position: relative;
}

.pattern{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.3;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 4.5px, #e5e5f7 4.5px, #e5e5f7 22.5px );
    
}

.projects{
    text-align: center;
    position: relative;
    top: 470px;
}


.skills{
    text-align: center;
    position: relative;
    top: 610px;
}

.contact{
    text-align: center;
    position: relative;
    top: 780px;
}

.icons{
    display: flex;
    flex-direction: row;
    padding: 0px 0 0 0px;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.icons p{
    padding: 0px 8px;
}
    

.pattern{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(51,187,235,1) 49%, rgba(29,188,253,1) 58%, rgba(152,123,152,1) 77%, rgba(252,69,69,1) 98%);
}
